.UserPerfilWrapper{
    width: 82vw;
    height: 100vh;
    overflow: auto;
    background: #e9eaef;
}

.UserPerfilHeader{
    padding: 80px 0px 45px;
    background: #282828;
}

.UserPerfilWrapper .UserPerfilBody{
    width: calc( 100% - 70px);
    height: calc(100vh - 125px);
    margin-top: -30px;
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
}

.UserPerfilWrapper .UserPerfilBody .card{
    height: 92%;
    width: 60vw;
    padding: 15px 15px 0px;
    box-shadow: 0px 4px 20px 0px rgba(80, 80, 80, 0.1);
    /* padding: 0px 15px; */
    transition: all;
    transition-duration: 1s;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card label {
    font-size: .7971em;
    font-family: Arial, Helvetica, sans-serif;
    color: #9a9a9a;
}

.UserPerfilWrapper .UserPerfilBody .UserEdition{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 95%;
    width: auto;
    border-radius: 3px;
    /* box-shadow: 0px 4px 20px 0px rgba(80, 80, 80, 0.1); */
    padding: 0px 15px;
}

.UserPerfilWrapper .UserPerfilBody .UserEditionCell{
    position: relative; 
    height: 100%;
    width: auto;
    transition: all;
    transition-duration: 1s
    /* box-shadow: 0px 4px 20px 0px rgba(80, 80, 80, 0.1); */
}

.UserPerfilWrapper .UserPerfilBody .UserEdition .preview-container{
    width: calc(50% - 20px);
    /* object-position: center; */
    /* margin-right: 10px; */
    background: #f1f1f1;
    border-radius: 15px;
    position: absolute;
    left: 96px;
    bottom: 95px;
    /* right: 10px; */
    height: 65%;
}

.UserPerfilWrapper .UserPerfilBody .UserEdition .preview-container .backgroundContainer{
    width: auto;
    overflow: hidden;
    height: 80%;
    display: flex;
}

.UserPerfilWrapper .UserPerfilBody .UserEdition .preview-container .backgroundContainer .backgroundImg{
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 100%;
    filter: blur(1px);
    z-index: 2;
}

.UserPerfilWrapper .UserPerfilBody .UserEdition .preview-container .backgroundContainer .avatarImg{
    width: 21%;
    height: 10.2%;
    top: 12%;
    left: 8%;
    z-index: 3;
    background: #e9eaef;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.blurbackgroundImg{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1 ), transparent);
    overflow: hidden;
    position: absolute;
    height: 80%;
    z-index: 3;
}

.followbarContainer{
    height: 10%;
    /* padding: 5px 5px; */
    justify-content: center;
    color: #e9eaef;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    background: transparent;
    align-content: center;
    overflow: hidden;
    justify-content: center;
    width: 100%; 
    bottom: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    z-index: 4;
    align-items: center;
}

 .followbutton     {
    height: 70%;
    width: auto;
    color: #e9eaef;
    margin: 5px;
    font-size: .55em;
    background: none;
    border: .5px solid;
    border-radius: 20px;
    outline: #e9eaef;
}

.followbarContainer .followings {
    height: 90%;
    display: flex;
    justify-content: center;
}

.followbarContainer .events {
    height: 90%;
    display: flex;
    justify-content: center;
}

h5 {
    display: contents;
    font-size: 12px
}

h6 {
    display: contents;
    font-weight: 200;
    font-size: .56em;
}

.cardHeader{
    padding: 0px 0px 20px 5px;
}

.cardTitle {
    margin: 0px 0px 15px;
    font-family:  'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.4em;
    font-size: 1.35em;
    color: #040404
}


.cardBody .cardBody-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardBody .cardBody-content-2 {
    display: grid;
    grid-template-columns: 1fr;
}

.cardBody .cardBody-content-3 {
    display: grid;
    grid-template-columns: 1fr;
}
textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0;
    line-height: 2;
}

textarea.form-control:focus {
    border: none;
    border-bottom: 1px solid #f96332
}

.form-group {
    margin: 0px 0px 10px;
    width: calc(100% - .6em);
}

.form-control {
    padding: 10px 18px;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    height: auto;
    font-size: .8571em;
    width: 100%;
    margin-top: 5px;
    outline: none;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
}

.form-control:focus{
    border: 1px solid #f96332;
}

.cardBody .form-group-container {
    display: flex;
    width: auto;
    justify-items: center;
}

.cardBody .form-group-position {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardBody .form-control-container {
    display: flex;
    justify-content: center;
    width: auto;
}