.App .SideBar {
  background: rgb(255, 255, 255);
  width: 18vw;
  height: 100vh;
  float: left;
}

.App .View {
  background: rgb(253,253,253);
  width: 82vw;
  height: 100vh;
  float: right;
  overflow: auto;
  background-image: linear-gradient(to bottom, white 30%,rgb(252,252,252) 30.5%,  rgb(255,255,255) 39.5%, );
}

.App .SideBar .userInfoSpace {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item .icon { 
  font-size: 18px;
  padding: 0px 24px 0px 24px;
  color: rgb(17, 17, 17,.6);
  display: flex;
  align-items: center;
  float: left
}

.App .SideBar .brandContainer .brandSpace {
  width: 100%;
  height: 45px;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: .7px .7px .7px .7px rgba(120, 36, 255, 0.1);
  font-family: 'Roboto', sans-serif;
  color: rgb(48, 48, 48);
  font-weight: 600;
}

.App .SideBar .brandContainer {
  
}

.App .SideBar .userInfoSpace .userImgProfile {
  display: flex;
  justify-content: center;
}

.App .SideBar .userInfoSpace img {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  justify-content: center;
  margin: 0px 0px 15px;
}

.App .SideBar .userInfoSpace .userName {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.App .SideBar .dividerHorizontal {
  width: 100%;
  height: 1px;
  margin: 10px 0px;
  background: rgb(17, 17, 17, 0.1);
}

.App .SideBar .menuList .btn{
  width: 100%;
  height: 45px;
  font-size: 14px;
  transition: .05s;
  font-weight: 600;
  color: rgb(17, 17, 17,.6);
  display: flex;
  align-items: center;
}

.App .SideBar .menuList .btn:hover{
  background: rgb(251,251,251);
  color: #0A0A0A;
}